coverage/
node_modules/
.DS_Store
/packages/remark-lint/*.d.ts
/packages/remark-lint-blockquote-indentation/*.d.ts
/packages/remark-lint-checkbox-character-style/*.d.ts
/packages/remark-lint-checkbox-content-indent/*.d.ts
/packages/remark-lint-code-block-style/*.d.ts
/packages/remark-lint-definition-case/*.d.ts
/packages/remark-lint-definition-spacing/*.d.ts
/packages/remark-lint-emphasis-marker/*.d.ts
/packages/remark-lint-fenced-code-flag/*.d.ts
/packages/remark-lint-fenced-code-marker/*.d.ts
/packages/remark-lint-file-extension/*.d.ts
/packages/remark-lint-final-definition/*.d.ts
/packages/remark-lint-final-newline/*.d.ts
/packages/remark-lint-first-heading-level/*.d.ts
/packages/remark-lint-hard-break-spaces/*.d.ts
/packages/remark-lint-heading-increment/*.d.ts
/packages/remark-lint-heading-style/*.d.ts
/packages/remark-lint-linebreak-style/*.d.ts
/packages/remark-lint-link-title-style/*.d.ts
/packages/remark-lint-list-item-bullet-indent/*.d.ts
/packages/remark-lint-list-item-content-indent/*.d.ts
/packages/remark-lint-list-item-indent/*.d.ts
/packages/remark-lint-list-item-spacing/*.d.ts
/packages/remark-lint-maximum-heading-length/*.d.ts
/packages/remark-lint-maximum-line-length/*.d.ts
/packages/remark-lint-no-auto-link-without-protocol/*.d.ts
/packages/remark-lint-no-blockquote-without-marker/*.d.ts
/packages/remark-lint-no-consecutive-blank-lines/*.d.ts
/packages/remark-lint-no-duplicate-defined-urls/*.d.ts
/packages/remark-lint-no-duplicate-definitions/*.d.ts
/packages/remark-lint-no-duplicate-headings/*.d.ts
/packages/remark-lint-no-duplicate-headings-in-section/*.d.ts
/packages/remark-lint-no-emphasis-as-heading/*.d.ts
/packages/remark-lint-no-empty-url/*.d.ts
/packages/remark-lint-no-file-name-articles/*.d.ts
/packages/remark-lint-no-file-name-consecutive-dashes/*.d.ts
/packages/remark-lint-no-file-name-irregular-characters/*.d.ts
/packages/remark-lint-no-file-name-mixed-case/*.d.ts
/packages/remark-lint-no-file-name-outer-dashes/*.d.ts
/packages/remark-lint-no-heading-content-indent/*.d.ts
/packages/remark-lint-no-heading-indent/*.d.ts
/packages/remark-lint-no-heading-like-paragraph/*.d.ts
/packages/remark-lint-no-heading-punctuation/*.d.ts
/packages/remark-lint-no-html/*.d.ts
/packages/remark-lint-no-inline-padding/*.d.ts
/packages/remark-lint-no-literal-urls/*.d.ts
/packages/remark-lint-no-missing-blank-lines/*.d.ts
/packages/remark-lint-no-multiple-toplevel-headings/*.d.ts
/packages/remark-lint-no-paragraph-content-indent/*.d.ts
/packages/remark-lint-no-reference-like-url/*.d.ts
/packages/remark-lint-no-shell-dollars/*.d.ts
/packages/remark-lint-no-shortcut-reference-image/*.d.ts
/packages/remark-lint-no-shortcut-reference-link/*.d.ts
/packages/remark-lint-no-table-indentation/*.d.ts
/packages/remark-lint-no-tabs/*.d.ts
/packages/remark-lint-no-undefined-references/*.d.ts
/packages/remark-lint-no-unneeded-full-reference-image/*.d.ts
/packages/remark-lint-no-unneeded-full-reference-link/*.d.ts
/packages/remark-lint-no-unused-definitions/*.d.ts
/packages/remark-lint-ordered-list-marker-style/*.d.ts
/packages/remark-lint-ordered-list-marker-value/*.d.ts
/packages/remark-lint-rule-style/*.d.ts
/packages/remark-lint-strikethrough-marker/*.d.ts
/packages/remark-lint-strong-marker/*.d.ts
/packages/remark-lint-table-cell-padding/*.d.ts
/packages/remark-lint-table-pipe-alignment/*.d.ts
/packages/remark-lint-table-pipes/*.d.ts
/packages/remark-lint-unordered-list-marker-style/*.d.ts
/packages/remark-preset-lint-consistent/*.d.ts
/packages/remark-preset-lint-markdown-style-guide/*.d.ts
/packages/remark-preset-lint-recommended/*.d.ts
/packages/unified-lint-rule/lib/*.d.ts
/script/**/*.d.ts
/*.d.ts
*.log
package-lock.json
yarn.lock
